syntax: glob
*.aux
*.blg
*.toc
*.lof
*.lot
*.out
*.log
*.tmb
*.synctex.gz
*.fdb_latexmk
*-eps-converted-to.pdf
*.fls
Thesisguidelines.gottingen.pdf
thesis.synctex.gz(busy)

thesis.pdf
thesis.ps
thesis.dvi
ingredienten.pdf
stellingen.pdf

*.bbl

*~
*.backup
*.DS_Store
*.swp
vimtags

*.pyc
